#chessboard {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  height: 800px;
  width: 800px;
}

.tile {
  height: 100px;
  width: 100px;
}

.dark-tile {
  background: url('../assets/images/green-tile.png');
}

.light-tile {
background: url('../assets/images/white-tile.png');
}