.tile {
  height: 100px;
  width: 100px;
  display: grid;
  place-content: center;
}

.dark-tile {
  background: url('../../../public/assets/images/green-tile.png');
}

.light-tile {
background: url('../../../public/assets/images/white-tile.png');
}

.tile img {
  width: 70px;
}